<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ template "bootstrapHeader.gohtml" }}
</head>
<body>
    {{ template "loginContent" }}
    {{ template "bootstrapFooter.gohtml" }}
</body>
</html>

{{ define "loginContent" }}
<div class="container">  
<div class="row" id="pwd-container">
    <div class="col-md-4"></div>    
    <div class="col-md-4">
    <section class="login-form">
        <br>
        <img src="/public/images/favicon.ico" class="img-responsive" alt="" />
        <br><br>
        <form method="post" role="login">
            <input type="text" name="userid" placeholder="Email" required class="form-control input-lg" />
            <input type="password" name="password" id="password" placeholder="Password" required class="form-control input-lg"/>
            <br>
            <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Login</button>
            <div>
                <a href="/createAccount">Create account</a> or <a href="/resetPassword">reset password</a>
            </div>
        </form>        
    </section>  
    </div>
</div>
</div>
{{ end }}