<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<form method="post">
    <input type="email" name="userid" placeholder="your@email.com"><br>
    <input type="text" name="first" placeholder="First"><br>
    <input type="text" name="last" placeholder="Last"><br>
    <input type="text" name="password" placeholder="Password"><br>
    <input type="submit">
</form>

</body>
</html>