<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
USER NAME {{.UserID}}<br>
FIRST {{.First}}<br>
LAST {{.Last}}<br>
PASSWORD {{.Password}}<br>
LOGGED IN {{.LoggedIn}}<br>
{{if .LoggedIn}}
<h2><a href="/logout">log out</a></h2>
{{else}}
<h2><a href="/login">login</a></h2>
{{end}}
<br>
<h2><a href="/other">other page</a></h2>

<img src="/public/images/session.jpg" style="width:600px;height:600px;">

</body>
</html>
